.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 14px;
  overflow: hidden;
  background-color: #009933;
  z-index: 1;
  transition: opacity 1s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 1s ease;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
}

.header a {
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
  border: springgreen;
  border-radius: 5px;
}

.header a:hover {
  background-color: #1ae45d
}

.header a.active {
  background-color: #1ae45d
}